RewriteEngine On
DirectoryIndex index.php

# Redirect all non-existent files to the main router script
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?path=$1 [L]